$colorBasic: #161619;
$colorGray: #8d919d;
$colorSilver: #d0d4e3;
$colorError: #f72942;

$bgHeader: #161619;

$bgPrimary: #0864fa;
$bgPrimaryHover: #3280fb;
$bgPrimaryDisabled: #d0d4e3;

$borderSecondary: #d0d4e3;
$borderSecondaryHover: #161619;
$bgSecondary: #fff;
$bgSecondaryHover: #fff;
$bgSecondaryDisabled: #fff;

$bgTab: #fff;
$bgTabSelected: #161619;
$borderTabHover: #161619;

$bgTip: #161619;
